.split-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.split-left {
  width: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(180deg, #ffffff 0%, #b6b6b6 100%);
  padding-left: 140px;
  padding-right: 140px;
}

.split-right {
  width: 50vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.split-right {
  width: 50vw;
  background: linear-gradient(180deg, #3730A3 0%, #312E81 100%);
  color: #fff;
}

.form {
  margin-top: 45px;
  margin-block-end: 45px;
}